# Environments
.venv/
.env

# Python
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Data (keep the folder, not the contents)
data/*
!data/.gitkeep
